extends partials/layout.pug

//- renders under nav tag
//- renders inside body tag
block content
  div(class='container')
    div(class='jumbotron')
      h2 Welcome Page
      p Playlist Cleaning Application.
