extends partials/layout.pug

block script
  script.
    $(document).ready(function() {
      $('#profile').addClass('active');
    });

block content
  h3 Profile Page
    p Logged in as #{user.name}
