extends partials/layout.pug

block content
  h3 Search Results Page
  div(class='playlist')
    each playlist in playlists
      ul
      //- li ID: #{playlist.id}
      li NAME: #{playlist.name}
      li NUM TRACKS: #{playlist.numTracks}
